body p {
  text-align: justify;
  text-justify: auto;
}

body > #refs p {
  text-align: left;
}

@media only screen and (max-width: 400px) {
  body {
    margin-left:  2%;
    margin-right: 2%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    margin-left:  15%;
    margin-right: 15%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    margin-left:  30%;
    margin-right: 30%;
  }
}
